# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --- Django ---
*.sqlite3
*.log
*.db
media/
.env
.env.*

# --- Docker ---
*.pid
celerybeat-schedule

# --- Virtual Environments ---
.env/
env/
.venv/
venv/

# --- VSCode & PyCharm ---
.vscode/
.idea/

# --- System files ---
.DS_Store
Thumbs.db

# --- Tests & Coverage ---
htmlcov/
.coverage
*.cover
*.py,cover
.cache
pytest_cache/


staticfiles/
