{% extends 'includes/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<canvas id="network-canvas"></canvas>


<div class="container mt-5">
    <div class="page-container text-center">
        <h2 class="fancy-text mb-4">Login</h2>

        <div class="card p-4 bg-transparent border border-info text-start text-white mx-auto" >
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center mt-3">
                    <button type="submit" class="btn-glow-blue">Login</button>
                </div>
            </form>
        </div>

        <p class="mt-1 mb-5">Don't have an account?
            <a href="{% url 'register_choice' %}" class="text-info fw-bold text-decoration-underline">Register here</a>
        </p>
    </div>
</div>
{% endblock %}
