{% extends 'includes/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile{% endblock %}

{% block use_container %}
<main class="hero-section position-relative">
    <canvas id="network-canvas"></canvas>
    <canvas id="dna-left" class="dna-canvas left"></canvas>
    <canvas id="dna-right" class="dna-canvas right"></canvas>

    <div class="container">
        {% include 'includes/messages.html' %}

        <div class="page-container text-white">
            <div class="medium-container text-center">
                <h2 class="fancy-text mb-3">Edit Your Profile</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center mt-3">
                        <button type="submit" class="btn button-style mb-5">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
