{% extends 'includes/base.html' %}
{% load crispy_forms_tags %}

{% block use_container %}
<main class="hero-section position-relative">
<canvas id="dna-left" class="dna-canvas left"></canvas>
  <div class="container pt-5 pb-5 hero-content text-white">
    {% include 'includes/messages.html' %}

    <div class="text-center mb-2">
        <h2 class="fancy-text">Register as a Patient</h2>
    </div>

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.role }}

        {{ form.email|as_crispy_field }}
        {{ form.password1|as_crispy_field }}
        {{ form.password2|as_crispy_field }}

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-glow-blue">Create Account</button>
        </div>
    </form>

    <p class="mt-4 text-center">
        Already have an account?
        <a href="{% url 'login' %}" class="text-info fw-bold text-decoration-underline">Login here</a>
    </p>
  </div>
</main>
{% endblock %}
