{% extends 'includes/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register as Doctor{% endblock %}

{% block use_container %}
<main class="hero-section position-relative">
  <canvas id="dna-right" class="dna-canvas right"></canvas>

  <div class="container pt-5 pb-5 hero-content text-white">
    {% include 'includes/messages.html' %}

    <div class="text-center mb-2">
        <h2 class="fw-bold fancy-text">Register as a Doctor</h2>
    </div>

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.role.as_hidden }}

        {{ form.email|as_crispy_field }}
        {{ form.password1|as_crispy_field }}
        {{ form.password2|as_crispy_field }}

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-glow-blue">Create Account</button>
        </div>
    </form>

    <p class="mt-4 text-center">Already have an account?
        <a href="{% url 'login' %}" class="text-decoration-underline text-light">Login here</a>
    </p>
  </div>
</main>
{% endblock %}
