html {
    scroll-behavior: smooth;
    font-size: 15px;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #0875a3;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6;
    color: white;
    font-size: 0.9rem;
}

p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 0.75rem;
}


p.lead {
    font-size: 1rem;
    font-weight: 400;
}


h1 { font-size: 2.2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.85rem; }


.container {
    max-width: 580px;
}

@media (max-width: 480px) {
    html {
        font-size: 14px;
    }

    .container {
        padding: 0 1rem;
    }
}
