{% load static %}
<!DOCTYPE html>
<html lang="en-GB">
  {% include 'includes/head.html' %}



  <body class="d-flex flex-column min-vh-100">
    {% include 'includes/nav.html' %}

    <main class="flex-fill d-flex flex-column">
      {% block use_container %}
        <div class="container px-3 py-4">
          {% include 'includes/messages.html' %}
          {% block content %}{% endblock %}
        </div>
      {% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    {% block page_scripts %}
      <script src="{% static 'js/network-background.js' %}"></script>
      <script src="{% static 'js/dna-left.js' %}"></script>
      <script src="{% static 'js/dna-right.js' %}"></script>
      <script src="{% static 'js/auto-dismiss-alerts.js' %}"></script>

    {% endblock %}



  </body>
</html>
