{% extends 'includes/base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/home-page.css' %}">
{% endblock %}

{% block use_container %}
<section class="hero-section d-flex align-items-center justify-content-center position-relative text-white">

    <canvas id="network-canvas"></canvas>
    <canvas id="dna-left" class="dna-canvas left"></canvas>
    <canvas id="dna-right" class="dna-canvas right"></canvas>


    <div class="hero-content text-center">
        <h1 class="display-4 fw-bold fancy-text mb-0">HealthDataWay</h1>
        <h1 class="display-5 hdw-text mb-0">HDW</h1>
    </div>
</section>
{% endblock %}
