{% extends 'includes/base.html' %}
{% load static %}

{% block title %}Welcome to HealthDataWay{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/home-page.css' %}">
{% endblock %}

{% block use_network %}
<canvas id="network-canvas"></canvas>
{% endblock %}

{% block use_dna_left %}
<canvas id="dna-left" class="dna-canvas left"></canvas>
{% endblock %}

{% block use_dna_right %}
<canvas id="dna-right" class="dna-canvas right"></canvas>
{% endblock %}

{% block content %}
<section class="hero-section d-flex align-items-center justify-content-center position-relative text-white">
    <div class="hero-content text-center animate__animated animate__fadeInDown">
        <h1 class="fancy-text">HealthDataWay</h1>
        <p class="hero-description">
            Your health story. Your journey. Track, analyze, and share with ease.
        </p>
    </div>
</section>
{% endblock %}
